<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>

  <div class="widget-wrap">
    <h3 class="widget-title">Popular Tags</h3>
    <div class="widget">
      <ul>
        <li><a href="/tags/interactive/">Interactive (Mini Games)</a></li>
      </ul>
    </div>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- sidemenu -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-7699323664930736"
       data-ad-slot="4396066202"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>
