#cut-the-trees
  .grass
    background-color: #438528
    position: relative
    height: 40vh
    width: 100%
    overflow: hidden
  h1
    color: white
    margin-top: 0
    top: 1em
    font-size: 10vh
    position: relative
    z-index: 100
    pointer-events: none
    text-align: center
  .tree
    width: 19vmin
    height: 19vmin
    position: absolute
    transform-origin: 50% 50%
