<ul>
  <li><a href="https://twitter.com/ogfruitstand" class="twitter-follow-button" data-show-count="false">Follow @ogfruitstand</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
  <li><div class="fb-follow" data-href="https://www.facebook.com/ogfruitstand" data-layout="button" data-size="small" data-show-faces="true"></div></li>
</ul>
